<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>vue-boolzappt</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="style/style.css">
</head>
<body>
    
    <div class="container">
        
        <!-- background -->
        <div class="background">
            
            <div class="green_banner">
                
            </div>
            
        </div>
        
        <!-- main section with content -->
        <div class="box" id="root">
            <!-- qui abbiamo una parte di destra e una di sinistra -->
            
            <!-- section left with contacts -->
            <section class="contacts">

                <!-- header -->
                <header class="user">

                    <ul class="user_profile">
                        <li class="user_img">
                           <img src="img/avatar_io.jpg" alt="profile avatar">
                        </li>

                        <li class="user_name">Sofia</li>
                    </ul>

                    <ul class="user_function">
                        <li>
                            <div class="function_btn">
                                <i class="fa-solid fa-circle-notch"></i>
                            </div>
                        </li>
                        <li>
                            <div class="function_btn">
                                <i class="fa-solid fa-message"></i>
                            </div>
                        </li>
                        <li>
                            <div class="function_btn">
                                <i class="fa-solid fa-ellipsis-vertical"></i>
                            </div>
                        </li>
                    </ul>

                </header>
                <!-- header -->

                <!-- main -->
                <main>
                    
                    <!-- alert -->
                    <div class="notification_alert">
                        <div class="notification_icon">
                            <i class="fa-solid fa-bell-slash"></i>
                        </div>
                        <div class="notification_text">
                            <p>Ricevi notifiche di nuovi messaggi</p>
                            <a href="">Attiva notifiche desktop</a>
                        </div>
                    </div>

                    <!-- serch -->
                    <div class="serch">
                        <div class="serch_btn"><i class="fa-solid fa-magnifying-glass"></i></div>
                        <input type="search" name="search" id="search" placeholder="Cerca o inizia una nuova chat">

                    </div>

                    <!-- open chats -->
                    <div class="open_chats">
                        <div v-for="(contact, index) in arrContacts" class="contact_profile" @click="openChat(index)">
                            
                            <div class="contact_img">
                                <img :src="'img/' + contact.contactImg" alt="contact profile avatar">
                            </div>
    
                            <div class="contact_data">
                               <div class="contact_name">{{ contact.contactData.contactName }}</div> 
                               <div class="last_mex">{{ contact.contactData.lastMex }}</div>
                            </div>
                            
                            <div class="last_log">
                                <p>{{ contact.lastLog }}</p>
                            </div>
                        </div>

                    </div>

                </main>
                <!-- /main -->
            </section>

            <!-- section right with chat -->
            <section class="chat">

                <!-- contatto -->
                <header>
                    <ul class="recipient">
                        <li>
                            <img src="img/avatar_1.jpg" alt="">
                        </li>
                        <li class="recipient_data">
                            <p>Michele</p>
                            <p>Ultimo accesso oggi alle 12:00</p>
                        </li>
                    </ul>

                    <ul class="chat_function">
                        <li>
                            <div class="function_btn">
                                <i class="fa-solid fa-magnifying-glass"></i>
                            </div>
                        </li>
                        <li>
                            <div class="function_btn">
                                <i class="fa-solid fa-paperclip"></i>
                            </div>
                        </li>
                        <li>
                            <div class="function_btn">
                                <i class="fa-solid fa-ellipsis-vertical"></i>
                            </div>
                        </li>
                    </ul>
                </header>

                <!-- chat -->
                <main>
                    <div class="chat_wrapper" v-for="contact in arrContacts">

                        <!-- {{ contact.arrMexs }} -->

                        <div v-for="mex in arrContacts[activeChat].arrMexs" class="message" :class="mex.mexStatus == 'recived' ? 'white' : 'green'">
                            <p>{{ mex.mexText }}</p>
                            <p class="mex_time">{{ mex.mexTime }}</p> 
                        </div>

                        

                        <!-- <div v-for="mex in arrMexs" class="message green">
                            <p>{{ mex.mexText }}</p>
                            <p class="mex_time">{{ mex.mexTime }}</p> 
                        </div>
    
                        <div class="message white">
                            <p>Hai portato fuori il cane?</p>
                            <p class="mex_time">15:50</p> 
                        </div> -->

                    </div>
                </main>

                <!-- scrivo nuovo messaggio -->
                <footer>
                    <div class="btn_add_emoji">
                        <i class="fa-regular fa-face-smile"></i>
                    </div>

                    <div class="new_message" id="root">
                        <input v-model="newMsgText" type="text" placeholder="Scrivi un messaggio" @keydown.enter="submitNewMex(activeChat), reciveNewMex(activeChat)">
                    </div>

                    <div class="btn_vocal_message">
                        <i class="fa-solid fa-microphone"></i>
                    </div>
                    
                </footer>

            </section>

        </div>
    </div>
    
    <!-- script -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="JS/sript.js"></script>
</body>
</html>