/* general */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: Arial, Helvetica, sans-serif;
}

ul{
    list-style: none;
}

.container{
    height: 100vh;

    position: relative;
}



/* background */
.background{
    height: 100%;

    background-color: #d9dbd4;

}

.background .green_banner{
    height: 150px;

    background-color: #009688;
}




/* box */
.box{
    width: 1500px;
    height: 900px;

    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
}

/* contacts */
.box .contacts{
    width: 40%;

    background-color: blue;
}

.box .contacts .user{
    height: 70px;

    padding: .5rem;

    background-color: #eaeaea;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* user left section */
.user .user_profile{
    display: flex;
    align-items: center;
}

.user_img{
    width: 50px;
    height: 50px;
    
    border-radius: 100px;

    overflow: hidden;
}

.user_img img{
    height: 100%;

    object-fit: contain;
    object-position: center;
}

.user_name{
    margin: .5rem;
}
/* /user left section */

/* user right section */
.user .user_function{
    display: flex;
}

.user_function .functio_btn{
    width: 50px;

    font-size: 30px;
    text-align: center;
    line-height: 50px;
    color: #b1b1b1;
    
        cursor: pointer;
}

.functio_btn ì{
    vertical-align: middle;
}
/* /user right section */

/* chat */
.box .chat{
    width: 60%;

    background-color: red;
}
/* /box */